
<div class="main-container grid grid-cols-2 gap-4">
    <div class="border-solid main-card">1</div>
    <div class="border-solid main-card">2</div>
</div>


<style>
    .main-container {
        margin: auto;
		padding: 1rem;
		max-width: 90rem;		
		color: white;
		font-size: 20px;
		line-height: 1.6;
        position: absolute;
        z-index:10;
    }
    .main-card {
        height: 30rem;
        width: auto;
        background: white;
        color: blue;
    }
</style>