---
---
<div class="h-24 bg-gradient-to-t from-violet-500 to-fuchsia-500">
    <a href="/"><h3>Home</h3></a>
    <a href="/about/"><h3>About</h3></a>
    <a href="/blog/"><h3>Blog</h3></a>
</div>

<style>
    h3 { 
        color: white; 
        size: 2rem;
    }
</style>