<div class="bar-container">
    <h2 class="text-center text-white m-1">Subscribe!</h2>
    <div class="icon-container  flex">
        <div class="youtube"><img src="youtube-icon.svg" /></div>
        <div class="icon"><img src="apple-podcasts-icon.svg" /></div>
        <div class="icon"><img src="spotify-square-color-icon.svg" /></div>
    </div>
    
</div>

<style>
    .bar-container {
        background-color: black;
        border-radius: 10px;
        width: 200px;
        height: 80px;
        margin-top: 100vh;
        z-index: 20;
        position: absolute; 
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;   
    }
    .icon-container {
       
        justify-content: center;
        gap: 2rem;
    }
    
    .icon {
        width: 30px;
        height: 30px;
        justify-content: center;
        align-self: center;      
    }
    .youtube {
        width: 35px;
        height: 35px;
        justify-content: center;
        align-self: center;
    }
</style>