---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
const { frontmatter } = Astro.props;
---




<Layout title="Good Enough Gaming">	
    <Nav />
	 <body>
		<div class="banner-image">			

            <h1>{frontmatter.title}</h1>
            <p>Written by {frontmatter.author}</p>
            <slot />
    <h1>NEWS</h1>

</body>
</Layout>
<Footer />

<style>
	body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        justify-content: space-between;
		background-image: url('/public/GegBannerNoText.png');
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        align-items: center;
	}
	
</style>